{% extends "base.html" %}
{% block start %}
    

    <div class="container main">
        <h1>About ZECDATA</h1>
        <p>Welcome to ZECDATA, where we harness the power of data to drive innovative solutions and propel businesses forward. Founded in [Year], ZECDATA has quickly established itself as a leader in data analytics, providing comprehensive services to a diverse range of industries.</p>

        <form>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname">
        </form>


        <h2>Our Mission</h2>
        <p>Our mission is to empower organizations through data-driven insights, enabling them to make informed decisions and achieve their strategic goals. We strive to deliver the highest quality data analytics services and solutions that drive value and foster growth.</p>

        <h2>Our Vision</h2>
        <p>Our vision is to be the global leader in data analytics, known for our innovation, expertise, and commitment to excellence. We aim to transform the way businesses operate by providing unparalleled data insights that lead to significant competitive advantages.</p>

        <h2>Our Values</h2>
        <ul>
            <li><strong>Integrity:</strong> We uphold the highest standards of integrity in all of our actions.</li>
            <li><strong>Innovation:</strong> We pursue new creative ideas that have the potential to change the world.</li>
            <li><strong>Customer Commitment:</strong> We develop relationships that make a positive difference in our customers' lives.</li>
            <li><strong>Quality:</strong> We provide outstanding products and unsurpassed service that, together, deliver premium value to our customers.</li>
            <li><strong>Teamwork:</strong> We work together, across boundaries, to meet the needs of our customers and to help the company win.</li>
        </ul>

        <h2>Our Team</h2>
        <p>Our team of data experts is composed of seasoned professionals with extensive experience in various industries. We are passionate about data and dedicated to helping our clients achieve success through innovative solutions and personalized service.</p>
    </div>

{% endblock %}